################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
/.vs/
*.vsidx
/Debug/
/.vs/Project1/v17/ipch/AutoPCH/5fa0792ca147e837/SCHEDULER.ipch
/.vs/Project1/v17/ipch/AutoPCH/5fa0792ca147e837/SCHEDULER.ipch
/.gitignore
/.vs/Project1/v17/ipch/AutoPCH/5fa0792ca147e837/SCHEDULER.ipch
